@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: "Poppins", sans-serif;
}
:root {
  --main-color: #033a80;
  --bg-color: #fff;
  --text-color: #0f0c27;
  --hover: hsl(260, 100%, 51%);
 
  --big-font: 3.2rem;
  --medium-font: 1.8rem;
  --p-font: 0.941rem;
}

section {
  padding: 50px 10%;
}
body.active {
  --text-color: #fff;
  --bg-color: #122d03;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
*::selection {
  color: var(--bg-color);
  background: var(--main-color);
}
.heading {
  text-align: center;
}
.heading h2 {
  font-size: 30px;
}
 
.heading span {
  font-size: var(--p-font);
  color: rgb(2, 166, 70);
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 13px 10%;
  transition: 0.2s;
  box-shadow: -3px -3px 7px #ffffff73,
				2px 2px 5px rgba(137, 145, 111, 0.288);
}
header.shadow {
  box-shadow: 0 0 4px rgba(66, 104, 11, 0.15);
}
.logo {
  font-size: 1.61rem;
  font-weight: 600;
  color: var(--text-color);
}
.fade-in {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in.active {
  opacity: 1;
  transform: none;
}

.navbar {
  display: flex;
}
.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 500;
}
.navbar a:hover {
  color: #86f47a;
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}
#darkmode {
  font-size: 24px;
  cursor: pointer;
}
.home {
  height:100vh;
  margin-top: 10px;
  background: url('peakpx.jpg');
  background-size:cover;
  position:relative;
}
.home-img img {
  width: 100%;
  border-radius: 200px;
  box-shadow: 0 0 30px #89906e;
}
.home-text span {
  margin-top: 10%;
  font-size: var(--medium-font);
  font-weight: 500;
  font-style: italic;
  text-align: justify;
  display: grid;
}
.home-text h1 {
  font-size: var(--big-font);
  text-align: justify;
  font-style: italic;
  display: grid;
}

.home-text h2 {
  font-size: 1.1rem;
  font-weight: 400;
  font-style: italic;
  text-align: justify;
  display: grid;
}
.home-text p {
  font-size: 30px;
  font-weight: 1000;
  font-style: italic;
  margin: 0.7rem 0 1rem;
  display: grid;
  text-align:justify;
}
.social {
  display: flex;
  flex-direction: row-reverse;
}
.social a {
  margin-bottom: 1rem;
  margin-left: 20px;
  font-size: 30px;
  color: var(--text-color);
}
.social a:hover {
  color: #35762f;
}
.btn {
  display: inline-block;
  background: #35762f;
  color: #fff;
  padding: 0.7rem 1.3rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 30px #2b6c27;
}
.btn:hover {
  background: #2b6c27;
    transform: scale(1.1);
    transition: 0.5s;
}
.options label {
  cursor: pointer;
  color: black; /* Change the color as needed */
  text-decoration: #000;
}
.results {
  padding: 0.7rem 1.3rem;
  width: 800px;
  flex-direction: row;
  background-color: #7fc0a0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #030303;
  font-weight: 1000;
  text-align: center;
  margin-bottom: 1%;
  margin-left: 21%;
}
#additional-lines{
  padding: 0.7rem 1.3rem;
  width: 800px;
  flex-direction: row;
  margin-top: 20px;
  color: #000;
  background-color: #7fc0a0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-weight: 1000;
  text-align: center;
  margin-bottom: 5%;
  margin-left: 21%;
}
.option{
  padding: 0.7rem 1.3rem;
  margin-top: 5px;
  height: 50px;
  width: 600px;
  color: black;
  background-color: #7fc0a0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
 .btn1{
    margin-top: 2%;
    display: inline-block;
    background: #35762f;
    color: #fff;
    padding: 0.7rem 1.3rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 30px #2b6c27;
 }

.about-container {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  
}
 
.about-img img {
    margin-left: 55%;
    resize: horizontal ;
align-items: center;
}
.Future {
    margin-left: 28%;
}
.question{
text-align: center;
margin-top: 4%;
font-weight: 1000;
}
.question p{
  padding: 0.7rem 1.3rem;
    width: 600px;
    height: 50px;
    background-color: #34db66;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #0c0404;
    text-align: centers;
}
.btn{
  margin-top: 7%;
  margin-left: 28%;
  margin-bottom: 10%;
}
.about-text p {
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: Georgia, 'Times New Roman', Times, serif ;
  font-style: italic;
  font-size: var(--p-font);
  font-weight: 400;
  text-align: justify;
}
.about-text br {
  margin-top: 100px;
}
.information {
  margin: 1rem 0 1.4rem;
  margin-top: 10%;
}
.information .info-box {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}
.information .info-box .bx {
  font-size: 22px;
}
.information .info-box span {
  font-weight: 400;
  margin-left: 1rem;
}
.skills-container {
  display: block;
  align-items: center;
  justify-content:center;
  text-align: center;
  gap: 2rem;
  margin-top: 4rem;
}
.skills-img {
  border-radius: 0.5rem;
  margin-bottom: auto;
}
.skills-img img {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 30px #89906e;
  border-radius: 15px;
}
.experience-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 1rem;
  margin-top: 2rem;
  justify-content:center;
  text-align: center;
  
}
.experience-img {
  border-radius: 0.5rem;
  margin-bottom: auto;
}
.experience-img img {
  width: 100%;
  height: 80%;
  display: block;
  margin: 10px;
  box-shadow: 0 0 30px #89906e;
  border-radius: 15px;
}
.experience-img img:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.html-img img {
  width: 50%;
  object-position: center;
}
.css-img img {
  width: 50%;
  object-position: center;
}
.javascript-img img {
  width: 50%;
  object-position: center;
}
.python-img img {
  width: 50%;
  object-position: center;
}
.cplus-img img {
  width: 50%;
  object-position: center;
}
.c-img img {
  width: 50%;
  object-position: center;
}
.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
.services-box {
  background-color: #d9ecd5;
  padding: 20px;
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  border-bottom: 5px solid #51de7b;
  box-shadow: 0 2px 7px rgba(48, 132, 53, 0.15);
}
.services-box:hover{
 background-color: #35762f;
 transform: scale(1.1);
 transition: 0.2s;
}

.services-box h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.7rem 0 0.4rem;
}
.services-box:hover h3{
  color: #fff;
}
.services-box .bx {
  padding-top: 2rem;
  font-size: 54px;
  color: var(--main-color);
}
.services-box:hover .bx{
  color: #22cf91;
}
.services-box a {
  color: var(--main-color);
  font-size: var(--p-font);
  font-weight: 500;
}
.services-box:hover a{
  color: #8b8a8f;
}
.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 1rem;
  margin-top: 2rem;
}
.portfolio-img {
  overflow: hidden;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
}
.portfolio-img img {
  width: 50%;
  border-radius: 15px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.portfolio-img h3{
  text-align: center;
  margin-top: 20px;
}
.portfolio-img img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.contact-form {
  display: grid;
  place-items: center;
  margin-top: 2rem;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  width: 650px;
}
form input,
textarea {
  padding: 15px;
  border-radius: 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background: hsla(115, 50%, 78%, 0.1);
  margin-bottom: 1rem;
  color: var(--text-color);
}
form input::placeholder,
textarea::placeholder {
  color: var(--text-color);
}
form textarea {
  resize: none;
  height: 200px;
}
.contact-button {
  width: 160px;
  cursor: pointer;
  background: #278015;
  color: #fff;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 35%;
}
.contact-button:hover {
  background: #2b6c27;
  transform: scale(1.1);
  transition: 0.2s;
}
.footer {
  display: grid;
  place-items: center;
  padding: 20px;
  background: #ebebeb;
  color: #000;
}
.footer h2 {
  font-size: 1.5rem;
  margin-bottom: 1.6rem;
}
.footer-social a i{
  color: rgb(10, 26, 208);
  font-size: 25px;
  margin-left: 10px;
  text-align: center;
  line-height: 40px;
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.copyright {
  padding: 20px;
  background: var(--main-color);
  text-align: center;
  color: #fff;
}
.copyright a{
  color: #22cf91;
}
/* Making Responsive */
@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }
  section {
    padding: 50px 4%;
  }
}
@media (max-width: 881px) {
  :root {
    --big-font: 2.7rem;
    --medium-font: 1.4rem;
  }
}
@media (max-width: 768px) {
  :root {
    --big-font: 2.4rem;
    --medium-font: 1.2rem;
  }
  header {
    padding: 11px 4%;
  }
  #menu-icon {
    display: initial;
    color: var(--text-color);
  }
  header .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
    transition: 0.2s ease;
    text-align: center;
  }
  .navbar.active {
    top: 100%;
  }
  .navbar a {
    padding: 1.5rem;
    display: block;
    background: var(--bg-color);
  }
  #darkmode {
    position: absolute;
    top: 1.4rem;
    right: 2rem;
  }
  .scroll-down {
    display: none;
  }
  .home {
    grid-template-columns: 0.5fr 3fr;
  }
  .home-text {
    grid-column: 1/3;
    padding-left: 1.4rem;
  }
  .home-img {
    order: initial;
  }
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-img {
    display: flex;
    justify-content: center;
  }
  .skills-container {
    grid-template-columns: 1fr;
  }
  .skills-img img {
    padding-left: 0;
  }
  .skills-img {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
  }
  .contact-form form{
    width: 300px;
  }
  .contact-button{
    margin-left: 25%;
  }
}
@media (max-width: 340px) {
  :root {
    --big-font: 1.7rem;
    --medium-font: 1.1rem;
  }
  .home-text span {
    font-size: 1rem;
  }
  .home-text h2 {
    font-size: 0.9rem;
    font-weight: 500;
  }
  .information .info-box span {
    font-size: 1rem;
  }
  .portfolio-content {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }
  .contact-form form{
    width: 300px;
  }
  .contact-button{
    margin-left: 25%;
  }
  /* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #E3F2FD;
}
.chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #724ae8;
  transition: all 0.2s ease;
}
body.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}
.chatbot-toggler span {
  color: #fff;
  position: absolute;
}
.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child  {
  opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}
.chatbot {
  position: fixed;
  right: 35px;
  bottom: 90px;
  width: 420px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
  transition: all 0.1s ease;
}
body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.chatbot header {
  padding: 16px 0;
  position: relative;
  text-align: center;
  color: #fff;
  background: #724ae8;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.chatbot header span {
  position: absolute;
  right: 15px;
  top: 50%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}
header h2 {
  font-size: 1.4rem;
}
.chatbot .chatbox {
  overflow-y: auto;
  height: 510px;
  padding: 30px 20px 100px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.chatbox .chat {
  display: flex;
  list-style: none;
}
.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}
.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: #724ae8;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}
.chatbox .chat p {
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #fff;
  font-size: 0.95rem;
  background: #724ae8;
}
.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}
.chatbox .incoming p {
  color: #000;
  background: #f2f2f2;
}
.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 3px 20px;
  border-top: 1px solid #ddd;
}
.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 15px 15px 15px 0;
  font-size: 0.95rem;
}
.chat-input span {
  align-self: flex-end;
  color: #724ae8;
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
  visibility: visible;
}
  .chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }
  .chatbot {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot .chatbox {
    height: 90%;
    padding: 25px 15px 100px;
  }
  .chatbot .chat-input {
    padding: 5px 15px;
  }
  .chatbot header span {
    display: block;
  }
}
